<div class="about">
  <div class="aboutDeveloper">
    <h1><i>About developer</i></h1>
    <br />
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut
      cupiditate dolores eveniet exercitationem, expedita inventore libero magni
      necessitatibus nihil nobis quae quam qui quod reiciendis reprehenderit
      totam unde veritatis.</span
    >
  </div>
  <div>
    <h2>Tools used in this project:</h2>
    <ul>
      <li>Angular Material UI</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
    </ul>
  </div>
</div>
