<div class="about">
  <div class="aboutDeveloper">
    <h1><i>About author</i></h1>
    <br />
    <span style="line-height: 200%">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut
      cupiditate dolores eveniet exercitationem, expedita inventore libero magni
      necessitatibus nihil nobis quae quam qui quod reiciendis reprehenderit
      totam unde veritatis.</span
    >
  </div>
  <div>
    <h2>Tools used in this project:</h2>
    <ul style="line-height: 200%">
      <li>Angular Material UI</li>
      <li>angular-google-maps</li>
      <li>Google Places API</li>
      <li>Google Maps API</li>
      <li>
        <b>
          <i>Must have: </i>
          <a
            target="_blank"
            href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc"
          >
            Extension in Chrome
          </a>
          to avoid Cross Origin Errors: Moesif Orign & CORS Changer
        </b>
        <br />
      </li>
    </ul>
  </div>
</div>
