.mapContainer {
  display: flex;
  width: 100%;
}
.map {
  height: 90vh;
  width: 60vw;
}

agm-map {
  margin: 3%;
  width: 100%;
  height: 100%;
}

.places {
  display: flex;
  flex-direction: column;
  margin: 3% 0 0 3%;
  height: 80vh;
  width: 20vw;
}

.functionalButtonsGroup {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.functionalButtons {
  margin: 1%;
  width: 100%;
}

.getLocation {
  color: #fafafa;
  background-color: #1890ff;
  margin: 1% 2% 1% 2%;
  width: 100%;
}

.placeName {
  font-size: 100%;
}

.placeAddress {
  font-size: 100%;
  text-decoration: none;
}

::ng-deep .mat-expansion-panel-body {
  height: 30vh;
  overflow: auto;
}

h3 {
  margin: 0;
  font-weight: 100;
}
