<div class="mapContainer">
  <div class="map">
    <!--suppress TypeScriptValidateTypes -->
    <agm-map
      [latitude]="currentLocation.lat"
      [longitude]="currentLocation.lng"
      [zoom]="13"
      (mapClick)="mapClicked($event)"
    >
      <!--My location marker-->
      <agm-marker
        *ngIf="isMyLocation"
        [latitude]="currentLocation.lat"
        [longitude]="currentLocation.lng"
      >
      </agm-marker>
      <!--End My location marker-->

      <!--Markers of the places>-->
      <agm-marker *ngIf="isPanelOpenState">
        <agm-marker
          *ngFor="let place of marksOfThePlaces; let i = index"
          [latitude]="place.location.lat"
          [longitude]="place.location.lng"
          [label]="(i + 1).toString()"
        >
        </agm-marker>
      </agm-marker>
      <!--End of markers-->

      <!--Custom markers>-->
      <agm-marker *ngIf="isCustomMarkers">
        <!--suppress TypeScriptValidateTypes -->
        <agm-marker
          *ngFor="let marker of customMarkers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [markerDraggable]="marker.draggable"
          (markerClick)="removeMarker(marker)"
          (dragEnd)="markerDragEnd(marker, $event)"
        >
        </agm-marker>
      </agm-marker>
      <!--End of custom markers-->
    </agm-map>
  </div>

  <div class="places">
    <div class="functionalButtonsGroup">
      <div>
        <button class="functionalButtons" mat-raised-button (click)="show()">
          Show
        </button>
        <button class="functionalButtons" mat-raised-button (click)="save()">
          Save
        </button>
        <button class="functionalButtons" mat-raised-button (click)="delete()">
          Delete
        </button>
      </div>
      <button (click)="findMe()" mat-raised-button class="getLocation">
        <i class="material-icons">
          room
        </i>
      </button>
    </div>

    <mat-accordion *ngIf="customMarkers.length === 1 || isMyLocation">
      <mat-expansion-panel
        (opened)="isPanelOpenState = true"
        (closed)="isPanelOpenState = false"
        *ngFor="let name of places"
      >
        <mat-expansion-panel-header
          (click)="showPlaces(name, isPanelOpenState)"
        >
          <mat-panel-title>
            {{ name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let place of marksOfThePlaces; let i = index">
          <h1 class="placeName">{{ i + 1 }}) {{ place.name }}</h1>
          <p class="placeAddress">
            {{ place.vicinity }}
          </p>
          <hr />
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
